<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="shortcut icon" href="{% static 'OLX_main/img/olx.png' %}">
    <link rel="stylesheet" href="{% static 'OLX_main/css/index.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="header scrolling">
        <form action="{% url 'search' %}" method="get" class="search">
            <input type="search" placeholder="Пошук..." name="search">
            <button type="submit">Знайти</button>
        </form>
        <div class="header-left">
            <!-- Контент расположенный слева -->
            <a href="{% url 'main' %}"><img src="{% static 'OLX_main/img/OLX_blue_logo.png' %}" alt="logo-olx"></a>
        </div>
        <div class="header-right">
            <!-- Контент расположенный справа -->
            <nav>
                <div>
                    <ul>
                        {% if user.is_authenticated %}
                        <p class="user-name">{{ user.username }}</p>
                        <a href="{% url 'account_logout' %}">
                            <li class="add-announcement">Вихід</li>
                        </a>
                        <a href="{% url 'create_post' %}">
                            <li class="add-announcement">Додати оголошення</li>
                        </a>
                        {% else %}
                        <a href="{% url 'account_login' %}">
                            <li class="add-announcement">Вхід</li>
                        </a>
                        <a href="{% url 'account_signup' %}">
                            <li class="add-announcement">Реєстрація</li>
                        </a>
                        <a href="#">
                            <li class="add-announcement">Додати оголошення</li>
                        </a>
                        {% endif %}

                    </ul>
                </div>
            </nav>
        </div>
    </header>

    {% block registration %}
    {% endblock %}

    {% block main %}
    {% endblock %}


    {% block footer %}
    <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark typo-light">
            <div class="container">
                <div class="row">

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h5 class="widget-title">COMPANY NAME<span></span></h5>
                            <p>Спасибо за просмотр моего ОЛХ сайта. Весь функционал сделай мной и он рабочий. Хорошего
                                вам дня.</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Quick Links<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-content"><a href="#">Get Started</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">Top Leaders</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">Success Stories</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">Event/Tickets</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">News</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">Lifestyle</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a href="#.">About</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            <h5 class="widget-title">Get Started<span></span></h5>
                            <p>Begin
                                Get access to the full functionality of the site after registration.</p>
                            <a class="btn" href="{% url 'account_signup' %}" target="_blank">Register Now</a>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">

                        <div class="widget no-box">
                            <h5 class="widget-title">Contact Us<span></span></h5>

                            <p><a href="https://github.com/ZhankovVG" title="glorythemes"
                                    style="color: rgb(108, 243, 243);">info.my github</a></p>
                            <ul class="social-footer2">
                                <li class=""><a title="youtube" target="_blank"
                                        href="https://www.youtube.com/channel/UC5wo3B7nxMAzMII8EtLDQLQ"><img
                                            alt="youtube" width="30" height="30"
                                            src="{% static 'OLX_main/img/pngwing.com (5).png' %}"></a></li>
                                <li class=""><a href="https://www.facebook.com/profile.php?id=100025923456368" target="_blank" title="Facebook"><img alt="Facebook" width="30"
                                            height="30" src="{% static 'OLX_main/img/pngwing.com (6).png' %}"></a></li>
                                <li class=""><a href="#" target="_blank" title="Twitter"><img alt="Twitter" width="30"
                                            height="30" src="{% static 'OLX_main/img/pngwing.com (7).png' %}"></a></li>
                                <li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/trenirovannyi/?hl=ru"><img alt="instagram"
                                            width="30" height="30"
                                            src="{% static 'OLX_main/img/pngwing.com (8).png' %}"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright Company OLX © 2023. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const header = document.querySelector('.header');
            let scrollPosition = window.pageYOffset;

            const handleScroll = () => {
                const newScrollPosition = window.pageYOffset;
                if (newScrollPosition > scrollPosition) {
                    header.classList.add('scrolling');
                } else {
                    header.classList.remove('scrolling');
                }
                scrollPosition = newScrollPosition;
            };

            handleScroll();

            window.addEventListener('scroll', handleScroll);
        });
    </script>

</body>

</html>