<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    
    <link rel="shortcut icon" href="{% static 'OLX_main/img/olx.png' %}">
    <link rel="stylesheet" href="{% static 'OLX_main/css/index.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <header class="header scrolling">
        <form action="{% url 'search' %}" method="get" class="search">
            <input type="search" placeholder="Пошук..." name="search">
            <button type="submit">Знайти</button>
        </form>
        <div class="header-left">
            <!-- Контент расположенный слева -->
            <a href="{% url 'main' %}"><img src="{% static 'OLX_main/img/OLX_blue_logo.png' %}" alt="logo-olx"></a>
        </div>
        <div class="header-right">
            <!-- Контент расположенный справа -->
            <nav>
                <div>
                    <ul>
                        <li>Вихід</li>
                        <li>Вхід</li>
                        <li>Реєстрація</li>
                        <li class="add-announcement">Додати оголошення</li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>


    {% block main %}
    {% endblock %}


    {% block footer %}
    {% endblock %}

<script>  
    const header = document.querySelector('.header');
    let scrollPosition = window.pageYOffset;
        window.addEventListener('scroll', () => {
            const newScrollPosition = window.pageYOffset;
            if (newScrollPosition > scrollPosition) {
        header.classList.add('scrolling');
            } else {
        header.classList.remove('scrolling');
            }
    scrollPosition = newScrollPosition;
        });
</script>

</body>

</html>