{% extends 'OLX_main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block main %}
<div class="center-block">
    {% for el in categoryes %}
    <div class="category-column">
        <img src="{{ el.img.url }}" alt="category_img">
        <br>
        <a href="">{{ el.name }}</a>
    </div>
    {% endfor %}
</div>

<div class="content">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia poLorem ipsum dolor sit amet consectetur
    adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia porroLorem ipsum dolor sit amet
    consectetur adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia porroLorem ipsum dolor sit amet
    consectetur adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia porroLorem ipsum dolor sit amet
    consectetur adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia porroLorem ipsum dolor sit amet
    consectetur adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia porroLorem ipsum dolor sit amet
    consectetur adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia porroLorem ipsum dolor sit amet
    consectetur adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia porroLorem ipsum dolor sit amet
    consectetur adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia porroLorem ipsum dolor sit amet
    consectetur adipisicing elit. Maxime ratione, ab corrupti error quis debitis vero tempora
    quidem autem explicabo delectus eum saepe accusantium culpa blanditiis quia porrorro, consequuntur consequatur?
</div>


{% endblock %}