{% extends 'OLX_main/base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block main %}
<div class="centr">
    <h2>Головні рубрики</h2>
</div>
<div class="center-block">
    {% for el in categoryes %}
    <div class="category-column">
        <img src="{{ el.img.url }}" alt="category_img">
        <br>
        <a href="">{{ el.name }}</a>
    </div>
    {% endfor %}
</div>

<div class="VIP-centr">
    <h2>VIP-оголошення</h2>
</div>

<!-- start output of products -->

<div class="output_product">
    {% for product in product_list %}
    <div class="product-column">
        <img class="photo" src="{{ product.poster.url }}" alt="photo">
        <br><br>
        <a href="{{ product.get_absolute_url }}">{{ product.title | truncatewords:3  }}</a>
        <br>
        {{ product.price }} грн.
    </div>
    {% endfor %}

<!-- end output of products -->



<div class="btn-up btn-up_hide"></div>

<script>
   const btnUp = {
  el: document.querySelector('.btn-up'),
  scrolling: false,
  show() {
    if (this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
      this.el.classList.remove('btn-up_hide');
      this.el.classList.add('btn-up_hiding');
      window.setTimeout(() => {
        this.el.classList.remove('btn-up_hiding');
      }, 300);
    }
  },
  hide() {
    if (!this.el.classList.contains('btn-up_hide') && !this.el.classList.contains('btn-up_hiding')) {
      this.el.classList.add('btn-up_hiding');
      window.setTimeout(() => {
        this.el.classList.add('btn-up_hide');
        this.el.classList.remove('btn-up_hiding');
      }, 300);
    }
  },
  addEventListener() {
    // при прокрутке окна (window)
    window.addEventListener('scroll', () => {
      const scrollY = window.scrollY || document.documentElement.scrollTop;
      if (this.scrolling && scrollY > 0) {
        return;
      }
      this.scrolling = false;
      // если пользователь прокрутил страницу более чем на 200px
      if (scrollY > 400) {
        // сделаем кнопку .btn-up видимой
        this.show();
      } else {
        // иначе скроем кнопку .btn-up
        this.hide();
      }
    });
    // при нажатии на кнопку .btn-up
    document.querySelector('.btn-up').onclick = () => {
      this.scrolling = true;
      this.hide();
      // переместиться в верхнюю часть страницы
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
      });
    }
  }
}

btnUp.addEventListener();
</script>
{% endblock %}