{% extends 'OLX_main/base.html' %}
{% load static %}

{% block title %}
{{ product.title }}
{% endblock %}


{% block main %}
<div class="datail-product">
    <a href="javascript:history.back()" style="float: left;"><i class="bi bi-chevron-left"></i> Назад</a>
    <div class="category-path">
        <a href="{% url 'main' %}">Головна /</a>
        <a href="{% url 'category' product.category.url %}">{{ product.category.name }} /</a>
        <a href="#">{{ product.title | truncatewords:3 }}</a>
        
    </div>
    <hr>
    <div>
        <div class="photo-main-page">

            <img src="{{ product.poster.url }}" alt=""><br><br>
        </div>
        <h3>{{ product.title }}</h3><br>
        <h4>
            <b>
                <p>{{ product.price }} грн.</p>
                <hr>
            </b>
        </h4>
        <b>
            <h4>ОПИС</h4>
        </b>
        <div class="description">
            {{ product.description }}
            
        </div><br>

        {% for user in product.users.all %}
        {% if user.phone_number %}
        <b>Продавець: </b>{{ user.name }} <br>

        <div class="number-phone">
            <p onclick="showPhoneNumber()"><b>Связаться с продавцом</b></p>
            <button id="phone-btn">
                <a href="{{ user.phone_number }}">{{ user.phone_number }}</a></button>
            {% endif %}
            {% endfor %}
            <hr>
        </div>

    </div>
    <div class="comments">
        <form action="{% url 'comments' product.id %}" method="post" class="comment-form">
            <h4>Оставить отзыв о товаре</h4>
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Имя *</label>
                <input type="text" name="name" class="form-control" placeholder="Имя *">
            </div>
            <div class="form-group">
                <label for="useremail">Email *</label>
                <input type="email" name="email" class="form-control" placeholder="Email *">
            </div>
            <div class="form-group">
                <label for="comments">Комментарий *</label>
                <textarea name="text" cols="23" class="form-control" placeholder="Ваш комментарий *"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Отправить</button>
            </div>
        </form>
    </div>
    <div class="comments-user">
        <h4>Коментарии:</h4>
        {% for el in product.comments_set.all %}
        <p><b>Имя :</b> {{ el.name }}</p>
        <p><b>Коментарий :</b> {{ el.text }}</p>
        <hr>
        {% endfor %}
    </div>

</div>

<script>
    function showPhoneNumber() {
        var phoneBtn = document.getElementById("phone-btn");
        phoneBtn.style.display = "block";
    }

    // кнопка назад на предыдущую страницу
    function goBack() {
        window.history.back();
    }
</script>
{% endblock %}