body {
    background-image: url('/static/img/c14594_lbox.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* header start */

header {
    background-color: #002f34;
    color: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    z-index: 999;
    opacity: 1;
    transition: all 0.8s ease-out;
}

.header.scrolling {
    transform: translateY(-100%);
}

.header-left {
    margin-right: auto;
    padding-left: 10px;
}

.search {
    margin-left: 7px;
}

.header-left img {
    width: 55px;
    margin-left: 3em;
}

.header-right nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-right nav a li {
    margin-right: 20px;
    color: #fff;
}

.add-announcement {
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    transition: background-color 0.1s ease-in-out;
}

.add-announcement:hover {
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.1);
}

/* header end */


/* registration start */

.content-wrapper {
    margin-top: 310px;
}

.user-name {
    margin-right: 10px;
    margin-top: 5px;
}

/* registration end */

/* main start */

.centr {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 310px;
    text-align: center;
    border: solid rgb(242, 244, 245) 10px;

}

.center-block,
.output_product {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    border: solid rgb(242, 244, 245) 10px;
}

.center-block,
.output_product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.category-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.category-column a {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-bottom: 10px;
}

.category-column a:hover {
    background-color: black;
    color: #fff;
}

.category-column img {
    width: 70%;
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 20px;
}

.VIP-centr {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: -30px;
    text-align: center;
    border: solid rgb(242, 244, 245) 10px;

}

.output_product {
    margin-top: -20px;
}

/* main end */


/* start output of products */

.output_product {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    border: solid rgb(242, 244, 245) 10px;
}

.product-column {
    width: 20%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}

.photo-main-page {
    height: auto;
}

.photo {
    width: 150px;
    height: 160px;
    border-radius: 5px;
}

a {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    margin-top: 5px;
}

.price {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}

.product-column a:hover {
    background-color: black;
    color: #fff;
}

/* end output of products */


/* start datail product */

.category-path {
    margin-top: 7px;
    margin-right: 17em;
}

.category-path a {
    font-size: 10px;
    color: #1a531d;
    margin-right: 3px;
}

.datail-product {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    margin-top: 310px;
    text-align: center;
    border: solid rgb(242, 244, 245) 10px;
}

.datail-product img {
    max-width: 50%;
    height: auto;
}

.read-onli {
    width: 50%;
    margin-left: 300px;
    margin: 0 auto;
    text-align: center;
}

.read-more {
    color: rgb(67, 196, 247);
    cursor: pointer;
    text-decoration: none;
}


/* end datail product */


/* start btn */

.btn-up {
    position: fixed;
    background-color: #2dec36;
    right: 20px;
    bottom: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    width: 60px;
    height: 50px;
    opacity: 1;
}

.btn-up::before {
    content: "";
    width: 40px;
    height: 40px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
    display: none;
}

.btn-up_hiding {
    opacity: 0;
}

@media (hover: hover) and (pointer: fine) {
    .btn-up:hover {
        background-color: #512da8;
    }
}

/* end btn */


.comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 300px;
    margin-right: auto;
    margin-bottom: auto;

}

.comment-form {
    width: 100%;

}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
}

.comments-user {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 350px;
    margin-top: -320px;
    height: 350px;
}

/* end comments */

/* Start footer */

footer .main-footer {
    padding: 20px 0;
    background: #252525;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
    background: #222;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #969696;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: #969696;
    margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
    background: #252525;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
    background: #f9f9f9;
}

footer.light .main-footer {
    background: #f9f9f9;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
    display: inline-block;
}

/*====================  
  Widgets  
====================== */
.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a {
    color: #ff8d1e;
}

.widget li a:hover {
    color: #4b92dc;
}

.widget-title {
    margin-bottom: 20px;
}

.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #fff;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a:hover {
    background-color: #ff8d1e;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

.btn {
    background-color: #ff8d1e;
    color: #fff;
}

.btn:hover,
.btn:focus,
.btn.active {
    background: #4b92dc;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}

/* end footer */